body{
  margin-top: 150px;
  background: rgb(0, 0, 0);
  /* background: linear-gradient(52deg, rgba(35,35,36,1) 16%, rgba(15,15,54,1) 43%, rgba(60,77,91,1) 75%, rgba(221,249,255,1) 100%); */
  margin: none;
}

.name{
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  margin: 0px;
  text-align: center;
  /* background: rgb(221,249,255);
  background: rgb(221,249,255);
  background: rgb(221,249,255); */
  background: linear-gradient(52deg, rgba(221,249,255,1) 0%, rgba(60,77,91,1) 0%, rgba(22,22,108,1) 38%, rgba(11,11,41,1) 74%);  right: 0px;
  color: white;
  margin: none;
  font-family: "Cinzel Decorative", serif;
  font-weight: 300;
}

.topnav {
  background: linear-gradient(52deg, rgba(221,249,255,1) 0%, rgba(60,77,91,1) 0%, rgba(22,22,108,1) 38%, rgba(11,11,41,1) 74%);  right: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

nav{
  position: fixed;
  left: 0px;
  top: 40px;
  right: 0px;
  margin: 0px;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #2200fffb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 10px;
  margin-left: 10px;
  transition: 1s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1901b9;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.container1{
  display: flex;

}

.talk{
  width: 700px;
  height: 400px;
  border-radius: 20px;
  color: #ddd;
  text-align: center;
  background-color: rgb(11, 49, 94);
}

.talk1{
  margin-top: 100px;
  font-family: "Caveat Brush", cursive;
  font-size: 80px;
  color: bisque;
}

.talk2{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 30px;

}

.photo1{
  margin-left: 300px;
}

.container2{
  /* display: flex; */
  background-color: #301ac3fb;
  margin: 0px;
}

.container3{
  display: flex;
  color: #ddd;
}

.what{
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
  padding-left: 500px;
  padding-right: 500px;
  color: #ddd;
  font-size: 35px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.ask{
  width: 230px;
  height: 250px;
  background-color: rgba(8, 8, 163, 0.832);
  margin-bottom: 30px;
  margin-left: 250px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(5, 18, 22, 0.841);
  /* animation-duration: 0.4s; */
  transition: 0.4s;
}

.ask:hover{
  transform: translateY(-7px);
  box-shadow: 10px 10px 10px 10px rgba(5, 18, 22, 0.841);
}

.asus1{
  text-align: center;
  margin-top: 20px;
  font-size: 36PX;
}

.asus2{
  /* padding-left: 10px;
  padding-top: 10px; */
  margin-top: 20px;
  /* margin-left: 10px; */
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.Emailus{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(13, 6, 64, 0.977);
  border-radius: 100px;
  color: #000dff;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
  margin-left: 50px;
}


.call{
  width: 230px;
  height: 250px;
  background-color: rgba(8, 8, 163, 0.832);  margin-bottom: 30px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(5, 18, 22, 0.841);
  transition: 0.4s;
}

.call:hover{
  transform: translateY(-7px);
  box-shadow: 10px 10px 10px 10px rgba(5, 18, 22, 0.841);
}

.caus1{
  text-align: center;
  margin-top: 20px;
  font-size: 36PX;
}

.caus2{
  /* padding-left: 10px;
  padding-top: 10px; */
  margin-top: 20px;
  /* margin-left: 10px; */
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.caus3{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(13, 6, 64, 0.977);
  border-radius: 100px;
  color: #ffffff;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
  margin-left: 30px;
}

.find{
  width: 230px;
  height: 250px;
  background-color: rgba(8, 8, 163, 0.832);  margin-bottom: 30px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(5, 18, 22, 0.841);
  transition: 0.4s;
}

.find:hover{
  transform: translateY(-7px);
  box-shadow: 10px 10px 10px 10px rgba(5, 18, 22, 0.841);
}

.fius1{
  text-align: center;
  margin-top: 20px;
  font-size: 36PX;
}

.fius2{
  /* padding-left: 10px;
  padding-top: 10px; */
  margin-top: 20px;
  /* margin-left: 10px; */
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.map{
  margin-left: 10px;
}

.instagram{
  width: 230px;
  height: 250px;
  background-color: rgba(8, 8, 163, 0.832);  margin-bottom: 30px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 5px rgba(5, 18, 22, 0.841);
  transition: 0.4s;
}

.instagram:hover{
  transform: translateY(-7px);
  box-shadow: 10px 10px 10px 10px rgba(5, 18, 22, 0.841);
}

.inus1{
  text-align: center;
  margin-top: 20px;
  font-size: 36PX;
}

.inus2{
  /* padding-left: 10px;
  padding-top: 10px; */
  margin-top: 20px;
  /* margin-left: 10px; */
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.qr{
  margin-left: 60px;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #000000;
  background-color: rgb(94, 94, 244);
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

/* .footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
} */

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #000000;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(34, 0, 255, 0.462);
  border-radius: 100px;
  color: #000000;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 20px;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #000000;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 30px;
}

/* .legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
} 
.legal__links {
  display: flex;
  align-items: center;
} */

.heart {
  color: #000000;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}