/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
}

nav{
  position: sticky;
  left: 0px;
  top: 60px;
  right: 0px;
  margin: 0px;
}

h1{
  position: sticky;
  top: 0px;
  background-color: #000000;
  left: 0px;
  right: 0px;
  margin: 0px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ff0000fb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color:rgba(19, 198, 230, 0.452);
  padding: 26px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 50px 70px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgba(19, 198, 230, 0.452); 
  color: black; 
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

.button2 {
  background-color:rgba(19, 198, 230, 0.452); 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color:rgba(19, 198, 230, 0.452); 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;} */

.button5 {
  background-color: rgba(19, 198, 230, 0.452);
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}
