/* Add a black background color to the top navigation */
.topnav {
  background: linear-gradient(52deg, rgba(221,249,255,1) 0%, rgba(60,77,91,1) 0%, rgba(22,22,108,1) 38%, rgba(11,11,41,1) 74%);  right: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

nav{
  position: fixed;
  left: 0px;
  top: 40px;
  right: 0px;
  margin: 0px;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #2200fffb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.name{
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  margin: 0px;
  text-align: center;
  /* background: rgb(221,249,255);
  background: rgb(221,249,255);
  background: rgb(221,249,255); */
  background: linear-gradient(52deg, rgba(221,249,255,1) 0%, rgba(60,77,91,1) 0%, rgba(22,22,108,1) 38%, rgba(11,11,41,1) 74%);  right: 0px;
  color: white;
  margin: none;
  font-family: "Cinzel Decorative", serif;
  font-weight: 300;
}


.button {
  background-color: #04AA6D; /* Green */
  padding: 26px 32px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  /* margin: 50px 70px; */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #e60000;

} 

.button1 {
  /* color: black;  */
  border: 3px solid black;
  font-size: 20px;
  font-weight: 700;
  width: 140px;
  height: 45px;
  background-color: #1900ff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button1:hover {
  background-color: #e52e2e;
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button2 {
  /* color: black;  */
  border: 3px solid black;
  font-size: 20px;
  font-weight: 700;
  width: 140px;
  height: 45px;
  background-color: #1900ff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button2:hover {
  background-color: #3d2ee5;
  box-shadow: 0px 15px 20px rgba(46, 49, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button3 {
  /* color: black;  */
  border: 3px solid black;
  font-size: 20px;
  font-weight: 700;
  width: 140px;
  height: 45px;
  background-color: #1900ff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button3:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button4 {
  /* color: black;  */
  border: 3px solid black;
  font-size: 20px;
  font-weight: 700;
  width: 140px;
  height: 45px;
  background-color: #1900ff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button4:hover {
  background-color: #11d2d2;
  box-shadow: 0px 15px 20px rgba(43, 218, 210, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


div.arch {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    /* animation: glow 1s ease-in-out infinite alternate; */
  }

  /* @keyframes glow {
    from {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #e60017, 0 0 50px #e60017, 0 0 60px #e60008, 0 0 70px #e60000;
    }
  } */

div.im{
  font-size: 46px;
  color: #fff;
  width: 700px;
  margin: 50px 0px 0px 200px ;
  font-family:  "Tangerine", cursive;

}

div.both{
  display: flex;
}

div.arjun{
  width: 300px;
  height: 300px;
  background-image: url(./arjun.png);

}

h2{
  font-family: "Cinzel Decorative", serif;
}

body{
  margin-top: 180px;
  background: rgb(35,35,36);
  /* background: linear-gradient(52deg, rgba(35,35,36,1) 16%, rgba(15,15,54,1) 43%, rgba(60,77,91,1) 75%, rgba(221,249,255,1) 100%); */
  margin: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}


.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: rgb(81, 81, 82);
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

/* .footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
} */

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 20px;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 30px;
}

/* .legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
} 
.legal__links {
  display: flex;
  align-items: center;
} */

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}